<configuration>
    <property name = "LOG_PATH" value = "${LOG_PATH}"/>
    <property name = "LOG_FILE_NAME" value = "test"/>

    <appender name = "CONSOLE" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{yyyy.MM.dd HH:mm:ss.SSSS} %logger{26} %-5level %msg%n </pattern>
        </encoder>
    </appender>

    <appender name = "FOUT" class = "ch.qos.logback.core.rolling.RollingFileAppender">
        <file> ${LOG_PATH}/${LOG_FILE_NAME}.log </file>

        <rollingPolicy class = "ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern> ${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy.MM.dd}.gz </fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern> %d{yyyy.MM.dd HH:mm:ss.SSSS} %-5level %logger{26} - %msg%n </pattern>
        </encoder>
    </appender>

    <root level = "INFO">
        <appender-ref ref = "CONSOLE"/>
        <appender-ref ref = "FOUT"/>
    </root>
</configuration>